services:
    php:
        environment:
            XDEBUG_MODE: develop,debug
            XDEBUG_CLIENT_HOST: host.docker.internal
            XDEBUG_CLIENT_PORT: 9090
            PHP_IDE_CONFIG: serverName=andanteproject-shared-query-builder
            XDEBUG_START_WITH_REQUEST: yes
